body{
    background-color: white;   
    color: #333;
    transition-delay: 1s; 
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin: 0;
    transition: 1s;
}

body.dark{
   background-color: #333;
   color: white;
}

.title{
    margin: 0;
    margin-bottom: 0;
    font-size: 3rem;
    font-family: 'Bebas Neue', sans-serif;
    height: 10vh;
}

.sun:hover,
.sun:focus{
    cursor: pointer;
    transition: 1s ease-in;
}

